* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Inter", sans-serif;
    height: 100vh;
    min-width: 100vw;
    
    
   
}
.layout {
  
   min-width: 100%;
   height: 100%;
   padding: 0;
   margin-top: 6.875rem;
   margin-left: 15.625rem;
   padding: 4rem;
   background-color: whitesmoke;
}





  
  




/*fix the horizontal scrollbar issue*/
/************** SideBar **************/



.sidebar {
    position: fixed;
    width: 15.625rem;
    height: 100vh;
    background-color: #2c2b27;
    color: white;
    padding: 1.25rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo-name {
    margin-bottom: 2.5rem;
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  width: 3.125rem;
  height: 3.125rem;
}


.navigation-bar {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1.25rem;
    margin-top: 1.875rem;
    

}


  .sidebar a {
  
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.875rem 0.625rem 0.3125rem;
    transition: background-color 0.3s;
    display:flex;
    align-items: center;
    border-radius: 5px;
}

.sidebar-icon{

    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
    
}


.navigation-bar a:hover, .settings a:hover {
    background-color: #44433f;
}
/****************/
.settings {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 80%;
    bottom: 1.25rem ;
}
.settings a {
    color: white;
    text-decoration: none;
    padding: 0.625rem 0.3125rem 0.625rem 0.3125rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.night-mode {
 
  display: flex;
  align-items: center;
}


/************** TopBar **************/


.topbar {
 background-color: #2c2b27;
 display: flex;
 justify-content: space-between;
 align-items: center;
 top: 0;
 position: fixed;
 right: 0;
 height: 6.875rem;
 width: calc(100% - 15.625rem);
 padding-left:  1.25rem;
 padding-right:  1.25rem;
 z-index: 1;
}

.topbar h1 {
    color: white;
    font-size: 1.5rem;
}

.topbar-elements {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topbar-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;

}


.search-bar {
    height: 1.5rem;
    width: 10em;

}



/************** Dashboard **************/

.Dashboard {

  height: 100%;
  width: 100%;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  repeat(4, 1fr);
  max-width: 1280px;
  
}




.Cards {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0rem; 
  min-width: 70%;
}

.Card {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 20px;
}

.Card h3 {
  font-size: 1rem;
}

.Number {
 font-weight:700;
 
 font-size: 3rem;
}



.Upcoming-Posts {
 grid-column: 1 / 2;
 grid-row: 2 / -1;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
 display: flex;
 flex-direction: column;
 gap: 10px;
 background-color: white;
 border-radius: 20px;
 padding: 1.5rem;
 gap: 2rem;
}

.Upcoming-Post{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 1fr;
  
}

.Preview {
  grid-column: 2 / -1;
 grid-row: 1 / 2;
 font-size: 1.5rem;
 font-weight: bold;
}

.date{
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.platform-icon {
  border: 1px solid black;
 height: 4rem;
 width: 4rem;
 grid-column: 1 / 2;
 grid-row: 1 / -1;
 margin: auto;
 border-radius: 10px;
}

.buttons {
 display: flex;
 justify-content: space-between;
 gap: 0.5rem;
 margin-top: 1rem;
 
}

.buttons button {
  height: 70px;
  width: 15.625rem;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
}

.New-Post-Btn {
  background-color: #3773f7;
}

.Add-to-Calendar-Btn {
  background-color: rgb(119, 119, 119);
}

.Posts-By-Platform{
 grid-column: 2 / -1;
 grid-row: 2 / 4;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);
 background-color: white;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 1.5rem;

 
}

 .Chart {
  margin: 2rem 2rem 2rem 0;
  width: 90%;
  height: 12.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  
  
}


.Chart ol {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  
  
}

.Chart ol li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}


.Most-Used-Tags{
  grid-column: 2 / -1;
  grid-row: 4 / -1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  
}

.Tag{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

.Tag-name {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 10px 20px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}




/**********************/

                        
















